# 1. Preprocessing Books

In [4]:
import json, pandas as pd

with open('../goodreads/goodreads_books_poetry.json') as f:
	df = pd.DataFrame(json.loads(line) for line in f)

aut=df.loc[:,'authors']
ddf = pd.DataFrame(line for line in aut)
aut = ddf.loc[:,0]
ddf = pd.DataFrame(line for line in aut)
ddf = ddf.loc[:,'author_id']

df.loc[:,'authors'] = ddf

df = df.loc[:,['book_id', 'average_rating', 'ratings_count', 'authors', 'similar_books', 'title', 'url']]

df.to_json('../datasets/books_poetry.json', orient='records', lines=True)

# 2. Preprocessing Interactions

comment) How about using parquet?

In [6]:
import json, pandas as pd

with open('../goodreads/goodreads_interactions_poetry.json') as f:
	df = pd.DataFrame(json.loads(line) for line in f)

df = df.loc[:,['book_id', 'user_id', 'is_read', 'rating']]

df.to_json('../datasets/interactions_poetry.json', orient='records', lines=True)

# 3. Check the preprocessed results

In [9]:
# Books
with open('../datasets/books_poetry.json') as f:
    df_books = pd.DataFrame(json.loads(line) for line in f)

display(df_books.head())

# book_id, average_rating, ratings_count, authors, similar_books, title, url

,book_id,average_rating,ratings_count,authors,similar_books,title,url
0,16037549,3.83,3,15585,[],Vision of Sir Launfal and Other Poems,https://www.goodreads.com/book/show/16037549-v...
1,22466716,3.83,37,16073,[],Fairy Tales: Dramolettes,https://www.goodreads.com/book/show/22466716-f...
2,926662,4.38,45,18540,[],Growltiger's Last Stand and Other Poems,https://www.goodreads.com/book/show/926662.Gro...
3,926667,3.71,115,18540,"[1230072, 315167, 676169, 18522, 124335, 88263...",The Cocktail Party,https://www.goodreads.com/book/show/926667.The...
4,29065952,5.00,9,14308759,"[25869488, 23630890, 25448131, 25464039, 42166...",Louder Than Everything You Love,https://www.goodreads.com/book/show/29065952-l...

In [10]:
# Interactions
with open('../datasets/interactions_poetry.json') as f:
    df_interactions = pd.DataFrame(json.loads(line) for line in f)

display(df_interactions.head())

# book_id, user_id, is_read, rating

    book_id                           user_id  is_read  rating
0      1384  8842281e1d1347389f2ab93d60773d4d     True       4
1      1376  8842281e1d1347389f2ab93d60773d4d     True       4
2     30119  8842281e1d1347389f2ab93d60773d4d     True       5
3  24769928  72fb0d0087d28c832f15776b0d936598    False       0
4     30119  72fb0d0087d28c832f15776b0d936598     True       3